
<h1>Contact List</h1>
<% @contacts.each do |contact| %>
  <h2><a href="/contacts/<%= contact.id %>"><%= contact.full_name %></a></h2>
  <h3>First Name: <%= contact.first_name %></h3>
  <h3>Last Name: <%= contact.last_name %></h3>
  <h3>Phone Number: <%= contact.phone_number %></h3>
<% end %>

<div>
  <a class="btn btn-success" href="/contacts/new" role="button">Create New Contact</a>
</div>