<h1>Contact Info</h1>
<h3>First Name: <%= @contact.first_name %></h3>
<h3>Middle Name: <%= @contact.middle_name %></h3>
<h3>Last Name: <%= @contact.last_name %></h3>
<h3>Email: <%= @contact.email %></h3>
<h3>Bio: <%= @contact.bio %></h3>
<h3>Phone Number: <%= @contact.phone_number %></h3>
<div>
  <h4>Categories: 
    <% @contact.groups.each do |group| %>
      <a href="/contacts?group_name=<%= group.name %>"><%= group.name %></a>
    <% end %>
  </h4>
</div>


<div>
  <a class="btn btn-warning" href="/contacts/<%= @contact.id %>/edit" role="button">Edit Contact</a>
</div>
<div>
  <%= link_to "Delete this Contact?", "/contacts/#{@contact.id}", method: :delete %>
</div>